In [1]:
import pandas as pd

In [7]:
df_contracts = pd.read_csv('../data/contracts.csv')
df_contracts.head()

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,127,8/17/2019,12,"$53,000.00","$11,600.00"
1,2,119,12/1/2019,22,"$77,000.00","$14,600.00"
2,3,160,5/1/2019,15,"$13,000.00","$22,800.00"
3,4,7,12/8/2019,23,"$56,000.00","$11,400.00"
4,5,144,2/11/2019,7,"$21,000.00","$19,800.00"

In [13]:
df_customers = pd.read_csv('../data/customers.csv')
df_customers.head()

,id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805

In [14]:
df_customers.rename(columns={'id':'customer_id'}, inplace=True)
df_customers.head()

,customer_id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805

In [15]:
df_customers.set_index('customer_id', inplace=True)
df_customers.head()

,company,sector,industry,email,address,city,state,zip
customer_id,,,,,,,,
1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805

In [16]:
df = df_contracts.join(df_customers, how='left')
df.head(25)

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip
0,1,127,8/17/2019,12,"$53,000.00","$11,600.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,119,12/1/2019,22,"$77,000.00","$14,600.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170.0
2,3,160,5/1/2019,15,"$13,000.00","$22,800.00",Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252.0
3,4,7,12/8/2019,23,"$56,000.00","$11,400.00",Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234.0
4,5,144,2/11/2019,7,"$21,000.00","$19,800.00",Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667.0
5,6,75,8/7/2019,9,"$74,000.00","$13,500.00",Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805.0
6,7,189,5/10/2019,16,"$75,000.00","$9,200.00",Teklist,Technology,Radio And Television Broadcasting And Communic...,kformigli5@symantec.com,085 Messerschmidt Street,San Antonio,TX,78245.0
7,8,111,2/5/2019,20,"$31,000.00","$15,700.00",Meedoo,NaN,NaN,ediscombe6@epa.gov,38 Shoshone Lane,El Paso,TX,79994.0
8,9,107,7/13/2019,3,"$76,000.00","$11,000.00",Skinix,Public Utilities,Natural Gas Distribution,lbavidge7@theguardian.com,88 Hagan Place,Little Rock,AR,72215.0
9,10,44,12/26/2019,20,"$52,000.00","$8,800.00",Thoughtbridge,NaN,NaN,hocodihie8@nbcnews.com,3 Lien Drive,Washington,DC,20215.0
10,11,6,12/7/2019,4,"$26,000.00","$19,100.00",Twitterlist,Technology,Computer Software: Prepackaged Software,kgerhardt9@soup.io,567 Cascade Plaza,Vancouver,WA,98664.0
11,12,125,8/30/2019,9,"$20,000.00","$21,900.00",Gabspot,Health Care,Major Pharmaceuticals,sgillinga@irs.gov,71 Bartillon Junction,Chattanooga,TN,37410.0
12,13,89,6/16/2019,15,"$51,000.00","$15,500.00",Mycat,Finance,Major Banks,kdurganb@europa.eu,97 Macpherson Street,Fort Wayne,IN,46825.0
13,14,133,12/29/2019,19,"$95,000.00","$20,100.00",Leexo,Health Care,Major Pharmaceuticals,lbarefordc@facebook.com,36154 Bunting Street,New York City,NY,10131.0
14,15,135,7/11/2019,14,"$41,000.00","$23,700.00",Eamia,NaN,NaN,ezannotellid@pbs.org,0 Cottonwood Trail,North Hollywood,CA,91606.0
15,16,148,5/15/2019,13,"$78,000.00","$17,500.00",Buzzbean,Consumer Non-Durables,Consumer Electronics/Appliances,reslere@mac.com,7472 Tony Avenue,Bronx,NY,10459.0
16,17,164,5/4/2019,21,"$28,000.00","$11,800.00",Kwinu,NaN,NaN,alabetf@gov.uk,688 La Follette Park,Buffalo,NY,14215.0
17,18,119,5/18/2019,8,"$79,000.00","$10,700.00",Plambee,Consumer Durables,Building Products,laupolg@earthlink.net,82 Bobwhite Point,Colorado Springs,CO,80915.0
18,19,67,5/8/2019,22,"$12,000.00","$12,100.00",Abatz,NaN,NaN,bquarrellh@tripadvisor.com,0875 Darwin Avenue,Fresno,CA,93750.0
19,20,57,1/16/2019,18,"$16,000.00","$5,900.00",Mydeo,Consumer Durables,Telecommunications Equipment,kgreeni@digg.com,6 Pierstorff Avenue,Colorado Springs,CO,80915.0
20,21,89,9/12/2019,5,"$56,000.00","$8,300.00",Omba,NaN,NaN,ctreblej@ifeng.com,2120 Kensington Center,Seattle,WA,98185.0
21,22,176,5/23/2019,11,"$94,000.00","$24,400.00",Tanoodle,NaN,NaN,fchaytork@sogou.com,1 Armistice Avenue,Pueblo,CO,81005.0
22,23,60,7/13/2019,1,"$29,000.00","$21,400.00",Jabbercube,Health Care,Biotechnology: In Vitro & In Vivo Diagnostic S...,cgentlel@cnn.com,8275 Arizona Street,Odessa,TX,79764.0
23,24,120,12/5/2019,24,"$33,000.00","$17,700.00",Feedfire,Consumer Durables,Industrial Specialties,rrobynsm@ca.gov,777 La Follette Center,Saint Paul,MN,55114.0
24,25,59,3/27/2019,4,"$87,000.00","$19,000.00",Brainbox,Finance,Real Estate,reasenn@paginegialle.it,37394 Stone Corner Avenue,Chicago,IL,60646.0